
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000103;
  color:  #D4EAC8;
  font-family: Arial, Helvetica, sans-serif;
}

/* For the accent color */
.accent{
  color: #377771;
}

/* Custom Fonts */
@font-face {
  font-family: 'CustomFont';
  src: url('/assets/Spider_Bite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
body {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 0.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}


.intro,
.links{
  margin: 5rem;
}

/* Navigation Bar */
nav,
.links,
footer{
  width: 100%; 
  max-width: 2681px; 
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

/* Logo Styling */
.logo a{
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 50px;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
}

/* Remove default list styles */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  position: relative;
  /* margin: 0 20px; */
}

/* Links */
nav li a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover{
  color: #D4EAC8;
  background-color: #37777180;
  border-radius: 8px;
}

/* Dropdown Menu (Initially Hidden) */
.dropdown {
  width: 150px;
  height: 60px;
  position: relative;
  color: #D4EAC8;
}

.dropdown-toggle {
  width: 100%;
  height: 100%;
  user-select: none;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
  display: inline-block;
  list-style: none;
  position: absolute;
  width: 100%;
  outline: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
  
}

/* Show Dropdown When Opened */
.dropdown.opened .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* Dropdown Menu Options */
.dropdown-menu li {
  transition: all 0.25s ease;
  border-radius: 8px;
  width: 100%;
}

.dropdown-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #D4EAC8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Hover Effect */
.dropdown-menu li:hover {
  background: #377771;
}

/* Arrow Animation */
.dropdown::before {
  content: "";
  position: absolute;
  right: 16px;
  top: 25px;
  width: 12px;
  height: 12px;
  border: 2px solid #999;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

/* Rotate Arrow When Dropdown is Open */
.dropdown.opened::before {
  transform: rotate(135deg);
}


  .hero {
    max-width: 80rem;
    padding: 2rem;
    position: relative;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2rem;
    text-align: center;
}

p{
  margin-bottom: 3rem;
}

.image {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}


.intro {
    position: relative;
    max-width: 50rem;
    margin: 5rem 0;
    font-size: 1.3rem;
  }
  
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 80rem;
    width: 100%;
}
.feature-card {
    padding: 1.5rem;
    border: 1px solid #377771;
    border-radius: 10px;
    text-align: left;
}
.feature-card h3{
  margin-bottom: 2rem;
  }
.feature-card span {
    font-weight: bold;
    color: #377771;
}


/*  Core-containers */
/* .core-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 5rem;
  max-width: 140rem;
  width: 100%;
  margin-top: 5rem;
}
.core-desp {
  padding: 1.5rem;
  border: 1px solid #377771;
  border-radius: 10px;
  text-align: left;
}
.core-desp h3{
margin-bottom: 2rem;
}

.core-desp span {
  font-weight: bold;
  color: #377771;
} */

/* Alternate row background */
tbody tr:nth-child(even) {
  background-color: rgba(0, 187, 112, 0.1);
}  
  
/* Ultra-Wide Screens (4K and above) */
@media (min-width: 2716px) {
  nav, .links, footer {
    max-width: 2681px;
  }
}

/* Large Screens (1440px and below) */
@media (max-width: 1440px) {

}

/* Medium Screens (Tablets - 1024px and below) */
@media (max-width: 1024px) {

}

/* Small Screens (Tablets & Mobiles - 768px and below) */
@media (max-width: 768px) {

}

/* Extra Small Screens (Mobile - 425px and below) */
@media (max-width: 425px) {

}

  
  